<p class="h1 bigTitle mb-3">
  Subespacio Vectorial
</p>
<p class="h3 bigTitle">
  Definición
</p>
<p>
  Un subconjunto W de un espacio vectorial V es un subespacio de V, si W es un espacio vectorial bajo las operaciones
  de adición y de multiplicación por un escalar definidas sobre V
</p>
<p>
  a) Cerradura bajo la suma
</p>
<p>
  Si u y v están en W, entonces u + v también está en W.
</p>
<p>
  b) Cerradura bajo la multiplicación por un escalar
</p>
<p>
  Si k es un escalar cualquiera y u es cualquier vector en W, entonces
  ku también está en W
</p>
