<div class="content text-center">
  <h2 class="bigTitle">
    <fa-icon [icon]="faInfinity"></fa-icon>
    Linearity
  </h2>
  <p>Learn the beauty of linear algebra</p>
  <div class="form-group col-12 p-0">
    <hr>
  </div>
  <div class="text-center">
    <div class="card-deck m-0 p-0 mt-4">
      <div class="card border-0">

        <div class="card-body">
          <h5 class="card-title bigTitle">
            2. {{vectorSpacesText}}
          </h5>
          <div class="card-text">
            <div class="list-group">
              <a routerLink="./2/introduction" class="list-group-item list-group-item-action">
                <div class="d-flex w-100 justify-content-between">
                  <h5 class="mb-1 bigTitle"> {{IntroductionText}} </h5>
                </div>
                
              </a>
              <a routerLink="./2/sub-spaces" class="list-group-item list-group-item-action">
                <div class="d-flex w-100 justify-content-between">
                  <h5 class="mb-1 bigTitle">{{vectorSubSpacesText}}</h5>
                </div>
                
              </a>
              <a routerLink="./2/linear-combinations" class="list-group-item list-group-item-action">
                <div class="d-flex w-100 justify-content-between">
                  <h5 class="mb-1 bigTitle">{{LCText}}</h5>
                </div>
              </a>
              <a routerLink="./2/basis" class="list-group-item list-group-item-action">
                <div class="d-flex w-100 justify-content-between">
                  <h5 class="mb-1 bigTitle">{{BasisText}}</h5>
                </div>
              </a>
            </div>
          </div>
          <button routerLink="advanced/" routerLinkActive="active" class="btn btn-dark m-1 mt-4 ">
            <fa-icon [fixedWidth]="true" [icon]=learnIcon></fa-icon> learn
          </button>
        </div>
      </div>
    </div>
  </div>

</div>
