<h4 class="bigTitle">
  {{title}}
</h4>
<p>
  Is a function that each <b>square</b> real matrix <b>A</b> is assigned a real number, denoted det(<b>A</b>),
  satisfying
  certain properties.
</p>
<button (click)=open(content) class="btn btn-sm btn-dark">
  see math definition
</button>

<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title bigTitle" id="modal-basic-title">Determinant definition</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    
    Let <b>A</b> be a <i>n</i>x<i>n</i> matrix. Then the <i>determinant</i> of <b>A</b> is defined by
    the following. If <b>A</b> is 1 x 1 so that <b>A</b> = (a <sub> 1, 1</sub>), then det(<b>A</b>) = a <sub> 1,
      1</sub>.
    Otherwise,
    if <i>n</i> > 1,
    <br />
    <mathjax [content]='expression1' class="box"></mathjax>
    <!-- <div #jax [mathjax]="[expression1]" aria-label="rendering...">
      $$ {{ '{}' }} $$
    </div> -->
    where <b>A</b> <sub> i, j</sub> is the (i, j) -cofactor associated with <b>A</b>. In other words, it is the
    scalar value
    <mathjax [content]='expression2' class="box"></mathjax>
    <!-- <div #jax [mathjax]="[expression2]" aria-label="rendering...">
      $$ {{ '{}' }} $$
    </div> -->
    <p>
      where M<sub> i, j</sub> is the (n − 1) × (n − 1) matrix obtained from <b>A</b> by removing its
      i-th row and j -th column. The M <sub>i,j</sub>’s are called the minors of <b>A</b>.
    </p>
  </div>
  <div class="modal-footer">
  </div>
</ng-template>
