<p class="h1 bigTitle mb-3">
  Combinaciones Lineales
</p>
<p class="h3 bigTitle">
  Definición
</p>
<p>
  Sean v<sub>1</sub>, v<sub>2</sub>, . . . , v<sub>r</sub> vectores en
  un espacio vectorial V, entonces un vector v en V es una combinación lineal de los vectores v<sub>1</sub>, v<sub>2</sub>, . . . , v<sub>r</sub> si
  existen escalares k<sub>1</sub>, k<sub>2</sub>, . . . , k<sub>r</sub> tales que la
  ecuación
</p>
<mathjax [content]='expression1' class="box"></mathjax>
<p>
  se satisface.
</p>