<div class="content text-center">
  <h2 class="bigTitle">
    <fa-icon [icon]="faInfinity"></fa-icon>
    The history of linear algebra
  </h2>
  <p>Learn the history of linear algebra with linearity</p>
  <div class="form-group col-12 p-0">
    <hr>
  </div>
  <div class="card-deck">
    <div class="card">
      <div class="card-body">
        <a style="text-decoration: none !important; color: black;" target="_blank"
          href="https://www.math.utah.edu/~gustafso/s2016/2270/web-projects/christensen-HistoryLinearAlgebra.pdf">
          <h5 class="card-title">A Brief History of Linear Algebra</h5>
        </a>

        <p class="card-text">Jeff Christensen. University of Utah, USA</p>
      </div>
      <a target="_blank"
        href="https://www.math.utah.edu/~gustafso/s2016/2270/web-projects/christensen-HistoryLinearAlgebra.pdf">
        <img src="https://imgv2-2-f.scribdassets.com/img/document/146566807/original/14b563aae7/1544569151?v=1"
          class="card-img-top" alt="...">
      </a>


      <div class="card-footer">
        <small class="text-muted">Uploaded in 2012. Online: 2019</small>
      </div>
    </div>
    <div class="card">
      <div class="card-body">
        <a style="text-decoration: none !important; color: black;" target="_blank"
          href="https://www.math.utah.edu/~gustafso/s2016/2270/web-projects/christensen-HistoryLinearAlgebra.pdf">
          <h5 class="card-title">History of Linear Algebra up to the Dawn of the 20th Century</h5>
        </a>

        <p class="card-text">Deivi Luzardo and Alirio J. Peña P. University of Zulia, Venezuela.</p>
      </div>
      <a target="_blank" href="https://www.emis.de/journals/DM/v14-2/art6.pdf">
        <img src="https://imgv2-1-f.scribdassets.com/img/document/180403669/original/6fca626bc8/1560913401?v=1"
          class="img-fluid" alt="...">
      </a>
      <div class="card-footer">
        <small class="text-muted">Uploaded in 2006. Online: 2019</small>
      </div>
    </div>
  </div>

</div>
