<p class="h1 bigTitle mb-3">
  Espacios Vectoriales
</p>
<p class="h3 bigTitle">
  Introducción
</p>
<p>
  Sea <b>V</b> un conjunto arbitrario de
  objetos sobre los cuales se definen dos operaciones: la <b>adición</b> y la <b>multiplicación</b> por un escalar.
</p>
<!-- <p>
  La adición es una regla que asocia con cada pareja de elementos u y v en <b>V</b> , el elemento u + v, llamado la suma
  de u y v.
</p>
<p>
  La multiplicación por un escalar es una regla que asocia con cada elemento v en
  V y escalar k, el elemento kv, llamado múltiplo escalar de u por k.
</p> -->
<p>
  Se dice
  que V es un espacio vectorial y a sus elementos se les denomina vectores,
  siempre y cuando la suma y la multiplicación por un escalar cumplan con los
  siguientes axiomas.
</p>

<div class="list-group">
  <a href="learn/2/introduction#axiom" id="axiom"
    class="list-group-item list-group-item-action list-group-item-dark active">
    Axiomas. Si u, v y w son elementos de V , y, k y l son escalares, entonces
  </a>
  <a href="#" class="list-group-item list-group-item-action">
    1. Propiedad de cerradura bajo la suma.
    u + v ∈ V .
  </a>
  <a href="#" class="list-group-item list-group-item-action">
    2. Propiedad conmutativa bajo la suma.
    u + v = v + u.
  </a>
  <a href="#" class="list-group-item list-group-item-action">
    3. Propiedad asociativa para la suma.
    u + (v + w) = (u + v) + w.
  </a>
  <a href="#" class="list-group-item list-group-item-action">
    4. Existencia del neutro aditivo.
    Existe un elemento en V , llamado elemento cero, tal que, 0 + u = u + 0 = u, para todo u ∈ V .
  </a>
  <a href="#" class="list-group-item list-group-item-action">
    5. Existencia del inverso aditivo.
    Para todo u ∈ V existe el elemento −u ∈ V , el inverso aditivo
    de u, tal que, u + (−u) = (−u) + u = 0.
  </a>
  <a href="#" class="list-group-item list-group-item-action">
    6. Propiedad de cerradura bajo la multiplicación por un escalar.
    Para todo u ∈ V y escalar k, ku ∈ V .
  </a>
  <a href="#" class="list-group-item list-group-item-action">
    7. Primera ley distributiva.
    k(u + v) = ku + kv.
  </a>
  <a href="#" class="list-group-item list-group-item-action">
    8. Segunda ley distributiva.
    (k + l)u = ku + lu.
  </a>
  <a href="#" class="list-group-item list-group-item-action">
    9. Ley asociativa de la multiplicaci´on por un escalar.
    k(lu) = (kl)u.
  </a>
  <a href="#" class="list-group-item list-group-item-action">
    10. 1.u = u.
  </a>
</div>
<p>

</p>
