<div class="modal-header">
  <h4 class="modal-title" id="modal-basic-title">References</h4>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <ol>
    <li>
      Shores, T. S. (2018). Applied Linear Algebra and Matrix Analysis (2ª ed.).
      <a title="ISBN 9783319747477" href="https://doi.org/10.1007/978-3-319-74748-4"
        target="_blank">https://doi.org/10.1007/978-3-319-74748-4</a>
    </li>
    <li>
      Knill, O. [Harvard mathematics department]. (n.d.-b). <b>MATRICES AND GAUSS-JORDAN</b>. Retrieved September 18, 2019,
      from:
      <div class="text-truncate">
        <a title="harvard post" href="http://abel.math.harvard.edu/archive/21b_fall_03/handouts/gaussjordan.pdf"
          target="_blank">http://abel.math.harvard.edu/archive/21b_fall_03/handouts/gaussjordan.pdf</a>
      </div>
    </li>
    <!-- unused <li>
      Mathemathics Help Centre [HEC Montreal]. (n.d.). MATRIX DETERMINANTS. Retrieved September 19, 2019, from:
      <div class="text-truncate">
        <a title="hec montreal post" href="https://www.hec.ca/en/cams/help/topics/Matrix_determinants.pdf"
          target="_blank">https://www.hec.ca/en/cams/help/topics/Matrix_determinants.pdf</a>
      </div>
    </li> -->
    <li>

      Buss, S. R. [University of California San Diego] (n.d.). <b>Some proofs about determinants</b>. Retrieved September 19,
      2019, from:
      <div class="text-truncate">
        <a title="UC San Diego post" href="https://www.math.ucsd.edu/~sbuss/CourseWeb/Math20F_2003S/determinants.pdf"
          target="_blank">https://www.math.ucsd.edu/~sbuss/CourseWeb/Math20F_2003S/determinants.pdf</a>
      </div>

    </li>
    <li>

      Dr. Beifang Chen [Hong Kong University of Science and Technology] (n.d.). <b>Determinants</b>. Retrieved September 19,
      2019, from:
      <div class="text-truncate">
        <a title="Hong Kong University post" href="https://www.math.ust.hk/~mabfchen/Math111/Determinant.pdf"
          target="_blank">https://www.math.ust.hk/~mabfchen/Math111/Determinant.pdf</a>
      </div>
    </li>
  </ol>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-outline-dark" autofocus (click)="activeModal.close('Close click')">Close</button>
</div>
