<div class="text-center">
  <div>
    <div class="row">
      <div class="col-md-12">
        <img src="https://avatars1.githubusercontent.com/u/22076330?s=460&v=4"
          class="img-thumbnail rounded-circle img-team" />
      </div>
      <div class="col-md-12">
        <div class="bigTitle h4 pt-3">
          Rubio Haro Rodrigo R. (Roy)
        </div>
        <p class="pt-3">
          System design, planning and development.
        </p>
      </div>
    </div>
  </div>
  <div class="form-group col-12 p-0">
    <hr>
  </div>
  <div class="bigTitle pt-3 mb-3">
    <div class="form-group pt-2 text-center">
      <button class="btn btn-dark m-1 ">
        <fa-icon [fixedWidth]="true" [icon]=code></fa-icon>
        System Version {{version}}
      </button>
      <button class="btn btn-dark m-1" (click)="openBio()" data-toggle="modal">
        <fa-icon [fixedWidth]="true" [icon]=book></fa-icon>
        biography
      </button>
    </div>
  </div>
</div>
