<div class="text-center">
  <div>
    <div class="row">
      <div class="col-md-6">
        <img src="https://avatars1.githubusercontent.com/u/22076330?s=460&v=4"
          class="img-thumbnail rounded-circle img-team" />
        <div class="bigTitle h4 pt-3">
          Rubio Haro Rodrigo R. (Roy)
        </div>
        <p class="pt-3">
          System design, planning and development.
        </p>
      </div>
      <div class="col-md-6">
        <img src="https://scontent.fmex11-2.fna.fbcdn.net/v/t1.0-9/56874426_2117330691653632_2161995882931683328_n.jpg?_nc_cat=110&_nc_oc=AQmQd9nSu3bYH70rQOMwuJpyTCi0me3s5WKlESX4o03c9d7-Xh8QHu0qvN-XD_S4ylG0r357pPxMOALJDqvs4cP9&_nc_ht=scontent.fmex11-2.fna&oh=af1bac077d85f8c01b767422bf3829f4&oe=5E0AC4EA"
          class="img-thumbnail rounded-circle img-team" />
        <div class="bigTitle h4 pt-3">
          Requena Fragoso Francisco J. (Franky)
        </div>
        <p class="pt-3">
          Math and technical development.
        </p>
      </div>
    </div>
  </div>
  <div class="form-group col-12 p-0">
    <hr>
  </div>
  <div class="bigTitle pt-3 mb-3">
    <div class="form-group pt-2 text-center">
      <button class="btn btn-dark m-1 ">
        <fa-icon [fixedWidth]="true" [icon]=code></fa-icon>
        System Version {{version}}
      </button>
      <button class="btn btn-dark m-1" (click)="openBio()" data-toggle="modal">
        <fa-icon [fixedWidth]="true" [icon]=book></fa-icon>
        biography
      </button>
    </div>
  </div>
</div>
