<nav class="navbar navbar-dark bg-dark">
  <a class="navbar-brand bigTitle" routerLink="/home" routerLinkActive="active">
    <fa-icon [icon]="faInfinity"></fa-icon>
    Linearity
  </a>

  <a class="navbar-brand">

    <a aria-label="Linearity on Github" href="https://github.com/RubioHaro/Linearity" title="Github"
      style="color: white">

      <fa-icon [icon]="faGithub"></fa-icon>

    </a>
  </a>
</nav>

<!-- Toolbar -->
<div class="container p-5">
  <router-outlet></router-outlet>
</div>
