input {
  font-size: 5em !important;
  background: none;
  color: black;
  font-size: 18px;
  padding: 10px 10px 10px 5px;
  display: block;
  border: none;
  border-radius: 0;
  border-bottom: none;
  outline: none;
  box-shadow: none;
}

input:focus {
  color: black;
  border-bottom: 3px solid #343a40;
  outline: none;
  box-shadow: none;
}
