.float {
  position: fixed;
  width: 60px;
  height: 60px;
  bottom: 40px;
  right: 40px;
  /* background-color: black; */
  color: #FFF;
  border-radius: 50%;
  text-align: center;
  box-shadow: 2px 2px 3px #999;
  cursor: pointer;

}
