<div class="text-center">
  {{operationText}}
  <span [ngSwitch]="operator">
    <p *ngSwitchCase="'gss'">
      <app-gauss></app-gauss>
    </p>
    <p *ngSwitchCase="'gsj'">
      <app-gauss-jordan></app-gauss-jordan>
    </p>
    <p *ngSwitchCase="'det'">
      <app-determinants></app-determinants>
    </p>
    <p *ngSwitchCase="'trs'">
      <app-transpose></app-transpose>
    </p>
    <p *ngSwitchCase="'inv'">
      <app-inverse></app-inverse>
    </p>
    <p *ngSwitchDefault>
      Not Found Info
    </p>
  </span>
</div>

<div class="row">
  <div class="col-md-12">
    <app-matrix [_message]=message [show_message]=false [name]="'A'" [show]=true [edit]=true [matrix]=matrixA>
    </app-matrix>
  </div>
</div>

<div class="text-center" *ngIf="showResult">
  <div class="row justify-content-center">
    <div class="col-1"></div>
    <div class="col-7">
      <app-matrix [_message]=message [show_message]=showMessage [name]="'C'" [show]=showResult [edit]=false
        [matrix]=matrixC></app-matrix>
    </div>
    <div class="col-1">
      <button type="button" class="close" aria-label="Close" (click)="closeResult()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
  </div>
</div>

<div class="card border-0">
  <div class="card-body text-center">
    <div class="btn-toolbar justify-content-center" role="toolbar" aria-label="">
      <div class="btn-group" role="group" aria-label="">
        <button (click)=ngClickGauss() type="button" class="btn btn-dark">
          Gauss
        </button>
        <button (click)="ngClickGaussJordan()" type="button" class="btn btn-dark">
          Gauss-Jordan
        </button>
        <button (click)="ngClickDet()" type="button" class="btn btn-dark">
          {{determinantText}}
        </button>
        <button (click)="ngClickTrs()" type="button" class="btn btn-dark">
          Transpuesta
        </button>
        <button (click)="ngClickInv()" type="button" class="btn btn-dark">
          inv
        </button>
        <button routerLink="/solver/basic" routerLinkActive="active" class="btn btn-dark">
          <fa-icon [fixedWidth]="true" [icon]=iconBasic></fa-icon>
          {{advancedText}}
        </button>
      </div>
    </div>
  </div>
</div>
<app-floating-button (emiter)="submit()"></app-floating-button>