<div class="text-center">
  {{operationText}}

  <h4 class="bigTitle">
    Matrix Addition
  </h4>
  <span [ngSwitch]="operator">
    <p *ngSwitchCase="'sum'">
      <app-addition></app-addition>
    </p>
    <p *ngSwitchCase="'sub'">
      <app-subtraction></app-subtraction>
    </p>
    <p *ngSwitchCase="'mul'">
      <app-scalar-multiplication></app-scalar-multiplication>
    </p>
    <p *ngSwitchDefault>

    </p>
  </span>

</div>

<div class="row">
  <div class="col-md-5">
    <app-matrix [name]="'A'" ></app-matrix>
  </div>
  <div class="col-md-2 my-auto">
    <h1 class="text-center pb-3">
      <b>{{operationSymbol}}</b>
    </h1>

  </div>
  <div class="col-md-5">
    <app-matrix [name]="'B'" ></app-matrix>
  </div>
</div>

<div class="card border-0">
  <div class="card-body text-center">
    <div class="btn-toolbar justify-content-center" role="toolbar" aria-label="">
      <div class="btn-group" role="group" aria-label="">
        <button (click)="ngOnClickPlus()" type="button" class="btn btn-dark">
          <fa-icon [fixedWidth]="true" [icon]=plus></fa-icon> Addition
        </button>
        <button (click)="ngOnClickMinus()" type="button" class="btn btn-dark">
          <fa-icon [fixedWidth]="true" [icon]=minus></fa-icon> Subtraction
        </button>
        <button (click)="ngOnClickDot()" type="button" class="btn btn-dark">
          <fa-icon [fixedWidth]="true" [icon]=dot></fa-icon> Multiplication
        </button>
      </div>
    </div>
  </div>
</div>
<app-floating-button></app-floating-button>
