<div class="text-center">
  <div class="card-deck m-0 p-0 mt-4">
    <div class="card border-0">

      <div class="card-body">
        <h5 class="card-title bigTitle">
          <fa-icon [fixedWidth]="true" [icon]=iconBasic></fa-icon> {{advancedText}}
        </h5>
        <div class="card-text">
          <div class="list-group">
            <a routerLink="basic" class="list-group-item list-group-item-action">
              <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1 bigTitle">{{gaussTitle}}</h5>
              </div>
              <p class="mb-1">{{gaussDescription}}</p>
            </a>
            <a routerLink="basic" class="list-group-item list-group-item-action">
              <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1 bigTitle">{{gaussJordanTitle}}</h5>
              </div>
              <p class="mb-1">{{gaussJordanDescription}}</p>
            </a>
            <a routerLink="basic" class="list-group-item list-group-item-action">
              <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1 bigTitle">{{detTitle}}</h5>
              </div>
              <p class="mb-1">
                {{detDescription}}
              </p>
            </a>
          </div>
        </div>
        <button routerLink="basic" routerLinkActive="active" class="btn btn-dark m-1 mt-4 ">
          <fa-icon [fixedWidth]="true" [icon]=iconBasic></fa-icon>
          {{advancedText}}
        </button>
      </div>
    </div>

    <div class="card border-0">

      <div class="card-body">
        <h5 class="card-title bigTitle">
          <fa-icon [fixedWidth]="true" [icon]=iconBasic></fa-icon> {{basicText}}
        </h5>
        <div class="card-text">
          <div class="list-group">
            <a routerLink="basic" class="list-group-item list-group-item-action">
              <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1 bigTitle">{{addTitle}}</h5>
              </div>
              <p class="mb-1">{{addDescription}}</p>
            </a>
            <a routerLink="basic" class="list-group-item list-group-item-action">
              <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1 bigTitle">{{subTitle}}</h5>
              </div>
              <p class="mb-1">{{subDescription}}</p>
            </a>
            <a routerLink="basic" class="list-group-item list-group-item-action">
              <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1 bigTitle">{{scalarTitle}}</h5>
              </div>
              <p class="mb-1">
                {{scalarDescription}}
              </p>
            </a>
          </div>
        </div>
        <button routerLink="basic" routerLinkActive="active" class="btn btn-dark m-1 mt-4 ">
          <fa-icon [fixedWidth]="true" [icon]=iconBasic></fa-icon>
          {{basicText}}
        </button>
      </div>
    </div>
  </div>
</div>
