<h4 class="bigTitle">
  Matrix Multiplication
</h4>
<p>

  Let <b>A</b> = [ a<sub> i j </sub>] be <i>m x p</i> and <b>B</b> = [ b<sub> i j </sub>] be <i>p x n</i> matrix.
  Then the product of the matrices <b>A</b> and <b>B</b>, denoted as <b>A</b> * <b>B</b> (or simply <b>AB</b>),
  is the mxn matrix whose (i,j)th entry  for 1 ≤ i ≤ m and 1 ≤ j ≤ n, is the entry of the
  product of the ith row of A and the jth column of B; more specifically, the (i,j)th entry
  of AB is:
</p>
<p>
  a<sub> i 1 </sub>b<sub> 1 j </sub> <b>+</b> a<sub> i 2 </sub>b<sub> 2 j </sub>  <b>+</b> ... <b>+</b> a<sub> i p </sub>b<sub> p j </sub>
</p>
