<nav class="navbar navbar-dark bg-dark">
  <a class="navbar-brand bigTitle" href="#">
    <fa-icon [icon]="faInfinity"></fa-icon>
    Linearity
  </a>

  <a class="navbar-brand" href="#">

    <a aria-label="Linearity on Github" href="https://github.com/RubioHaro" title="Github" style="color: white">

      <fa-icon [icon]="faGithub"></fa-icon>

    </a>
  </a>
</nav>

<!-- Toolbar -->
<div class="container">
  <div class="content">
    <h2 class="bigTitle">
      <fa-icon [icon]="faInfinity"></fa-icon>
      Linearity
    </h2>
    <p>The bautyful linear solver</p>
    <div class="form-group col-12 p-0">
      <hr>
    </div>
  </div>
</div>
<router-outlet></router-outlet>