<div class="content m-5 text-center">
  <h2 class="bigTitle">
    <fa-icon [icon]="faInfinity"></fa-icon>
    Linearity
  </h2>
  <p>The beauty of linear algebra</p>
  <div class="form-group col-12 p-0">
    <hr>
  </div>
  <div class="form-group pt-2 text-center">
    <button routerLink="/solver" routerLinkActive="active" class="btn btn-dark m-1 ">
      <fa-icon [fixedWidth]="true" [icon]=iconSolver></fa-icon>
      {{solverText}}
    </button>
    <button routerLink="/learn" routerLinkActive="active" class="btn btn-dark m-1 ">
      <fa-icon [fixedWidth]="true" [icon]=learnIcon></fa-icon>
      {{learnText}}
    </button>
    <button routerLink="/history" routerLinkActive="active" class="btn btn-dark m-1 ">
      <fa-icon [fixedWidth]="true" [icon]=historyIcon></fa-icon>
      {{historyText}}
    </button>
    <button routerLink="/info" routerLinkActive="active" class="btn btn-dark m-1 ">
      <fa-icon [fixedWidth]="true" [icon]=iconInfo></fa-icon>
      {{infoText}}
    </button>
  </div>

  <div>
    <ngb-alert *ngIf="!staticAlertClosed" (close)="staticAlertClosed = true">Only local proyect is working!</ngb-alert>
  </div>
</div>